/*
 * Copyright (c) 2025, George White
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include "adafruit_metro_m7.dts"

/ {
	aliases {
		sdhc0 = &sdhc0;
	};
};

&lpspi1 {
	cs-gpios = <>; /* TODO(galexite): GPIO_AD_14 */

	sdhc0: sdhc@0 {
		compatible = "zephyr,sdhc-spi-slot";
		reg = <0>;
		status = "okay";
		spi-max-frequency = <DT_FREQ_M(24)>;
		mmc {
			compatible = "zephyr,sdmmc-disk";
			disk-name = "SD";
			status = "okay";
		};
	};
};
