/*
 * Copyright (c) 2025 George White
 * Copyright (c) 2025 Arduino SA
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

/* NOTE: different package type, but otherwise same SoC */
#include <renesas/ra/ra6/r7fa6m5bh3cfc.dtsi>

#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/adc/adc.h>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include <zephyr/dt-bindings/led/led.h>

#include "sparkfun_thing_plus_ra6m5-pinctrl.dtsi"

/ {
	model = "Sparkfun Thing Plus - RA6M5";
	compatible = "renesas,ra6m5", "renesas,ra";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash-controller = &flash1;
		zephyr,code-partition = &code_partition;
		zephyr,flash = &flash0;
		zephyr,console = &uart3;
		zephyr,shell-uart = &uart3;
		zephyr,entropy = &trng;
		zephyr,bt-hci = &bt_hci_uart;
		zephyr,led-strip = &rgb_led;
	};

	leds {
		compatible = "gpio-leds";

		led0: led0 {
			gpios = <&ioport1 6 GPIO_ACTIVE_LOW>;
			label = "Status";
		};
	};

	rgb_led: ws2812 {
		compatible = "worldsemi,ws2812-gpio";
		gpios = <&ioport1 5 0>;
		chain-length = <1>;
		color-mapping = <LED_COLOR_ID_GREEN
				LED_COLOR_ID_RED
				LED_COLOR_ID_BLUE>;
		reset-delay = <50>;
	};

	gpio_keys {
		compatible = "gpio-keys";

		user_button: button {
			gpios = <&ioport4 15 GPIO_ACTIVE_LOW>;
			label = "User";
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	aliases {
		led0 = &led0;
		sw0 = &user_button;
	};
};

/* On-chip flash */

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(64)>;
			read-only;
		};

		code_partition: partition@10000 {
			label = "image-0";
			reg = <0x00010000 (DT_SIZE_M(2) - DT_SIZE_K(64))>;
		};
	};
};

&flash1 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		storage_partition: partition@0 {
			label = "storage";
			reg = <0X0 DT_SIZE_K(8)>;
		};
	};
};

/* External QSPI flash (controller not yet supported by Zephyr) */

// &qspi {
// 	qspi_flash: mx25l12833f: qspi-nor-flash@0 {
// 		compatible = "NOT SUPPORTED";
// 		reg = <0>;
// 		size = <DT_SIZE_M(128)>; /* 128 Mbits (16 MB) */
// 		qspi-max-frequency = <40000000>;
// 		cs-high-time = <2>; /* >= 30 ns */
// 		sfdp-bfp = [e5 20 f1 ff ff ff ff 07 44 eb 08 6b 08 3b 04 bb
// 			    fe ff ff ff ff ff 00 ff ff ff 44 eb 0c 20 0f 52
// 			    10 d8 00 ff 82 41 bd 00 81 e5 7b c6 44 03 67 38
// 			    30 b0 30 b0 f7 bd d5 5c 4a be 29 ff e1 d0 ff ff];
// 		jedec-id = [66 66 20];
// 		spi-bus-width = <4>;
// 		status = "okay";
// 	};
// }

/* U(S)ART */

&sci3 {
	pinctrl-0 = <&sci3_default>;
	pinctrl-names = "default";
	status = "okay";

	uart3: uart {
		current-speed = <115200>;
		status = "okay";
	};
};

&sci9 {
	pinctrl-0 = <&sci9_default>;
	pinctrl-names = "default";
	status = "okay";

	uart9: uart {
		current-speed = <57600>;
		status = "okay";
		hw-flow-control;

		bt_hci_uart: bt_hci_uart {
			compatible = "zephyr,bt-hci-uart";
			status = "okay";

			esp32 {
				compatible = "renesas,bt-hci-da1453x";
				status = "okay";
				reset-gpios = <&ioport1 15 GPIO_ACTIVE_LOW>;
				reset-assert-duration-ms = <100>;
				boot-duration-ms = <2000>;
			};
		};
	};
};

/* I2C, shared between feather connector and fuel guage */

&iic0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	interrupts = <87 1>, <88 1>, <89 1>, <90 1>;
	interrupt-names = "rxi", "txi", "tei", "eri";
	clock-frequency = <DT_FREQ_M(1)>;
	pinctrl-0 = <&iic0_default>;
	pinctrl-names = "default";

	/* Fuel guage */
	max17048: max17048@36 {
		compatible = "maxim,max17048";
		reg = <0x36>;
		status = "okay";
	};
};

/* SPI */

&spi0 {
	status = "okay";
	pinctrl-0 = <&spi0_default>;
	pinctrl-names = "default";
	clock-frequency = <DT_FREQ_M(5)>;
	cs-gpios = <&ioport1 12 GPIO_ACTIVE_LOW>;
};

/* ADC */

&adc0 {
	status = "okay";
	pinctrl-0 = <&adc0_default>;
	pinctrl-names = "default";
};

/* microSD card slot */

// TODO: not in the SoC definition, but it's there...
// sdhc0: sdhc0@40092000 {
// 	status = "okay";
// 	compatible = "renesas,ra-sdhc";
// 	reg = <0x40092000 0x400>;

// 	channel = 0;
// 	pinctrl-0 = <&sdhi0_default>;
// 	pinctrl-names = "default";
// 	enable-gpios = <&ioport7 8 GPIO_ACTIVE_LOW>;

// 	/* Features */
// 	sd-support;
// 	card-detect;
// 	write-protect;

// 	interrupts = <18 12>, <20 12>, <19 12>;
//   	interrupt-names = "accs", "card", "dma-req";

// 	sdmmc {
// 		compatible = "zephyr,sdmmc-disk";
// 		disk-name = "SD";
// 		status = "okay";
// 	};
// };

/* System */

&trng {
	status = "okay";
};

&ioport0 {
	status = "okay";
};

&ioport1 {
	status = "okay";
};

&ioport2 {
	status = "okay";
};

&ioport3 {
	status = "okay";
};

&ioport4 {
	status = "okay";
};

&ioport5 {
	status = "okay";
};

&ioport6 {
	status = "okay";
};

&ioport7 {
	status = "okay";
};

&ioport8 {
	status = "okay";
};

&ioport9 {
	status = "okay";
};

&ioporta {
	status = "okay";
};

&ioportb {
	status = "okay";
};

&xtal {
	clock-frequency = <DT_FREQ_M(24)>;
	mosel = <0>;
	#clock-cells = <0>;
	status = "okay";
};

&subclk {
	status = "okay";
};

&pll {
	clocks = <&xtal>;
	div = <3>;
	mul = <25 0>;
	status = "okay";
};

&pll2 {
	clocks = <&xtal>;
	div = <2>;
	mul = <20 0>;
	status = "okay";
};

/* USB */

&uclk {
	clocks = <&pll2>;
	div = <5>;
	status = "okay";
};

&usbfs {
	pinctrl-0 = <&usbfs_default>;
	pinctrl-names = "default";
	maximum-speed = "full-speed";
	status = "okay";

	zephyr_udc0: udc {
		status = "okay";
	};
};

/* Miscellaneous */

&option_setting_ofs0 {
	status = "disabled";
};

&option_setting_dualsel {
	status = "disabled";
};

&option_setting_ofs1_sec {
	status = "disabled";
};

&option_setting_banksel_sec {
	status = "disabled";
};

&option_setting_bps_sec {
	status = "disabled";
};

&option_setting_pbps_sec {
	status = "disabled";
};

&option_setting_ofs1_sel {
	status = "disabled";
};

&option_setting_banksel_sel {
	status = "disabled";
};

&option_setting_bps_sel {
	status = "disabled";
};

/* Feather connector */
#include "feather_connector.dtsi"
